# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 1.0
  - 1.5
  - nightly
notifications:
  email: false
jobs:
  allow_failures:
    - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.5
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate(); Pkg.resolve(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --color=yes --project=docs/ docs/make.jl
      after_success: skip
